* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #eea5a5;
    color: #333;
    line-height: 1.6;
    margin: 5%;
    text-align: center;
    font-weight: 500;
    height: auto;
}
#profile-picture {
    width: 30%;
    height: auto;
    margin: 0.5rem;
}
p {
    margin: 1rem;
    padding: 0.25rem;
}
#links div {
    padding: 0.5rem;
}
#link-container {
    display: flex;
    justify-content: center;
}
#portfolio>a, #social>a {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}
#links div a {
    text-decoration: none;
    color: #333;
}